<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>IT Blog</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap-tagmanager.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}js/ckeditor/contents.css" rel="stylesheet" />

		<link href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCore.css" rel="stylesheet" />
		<link href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shThemeMidnight.css" rel="stylesheet" />

		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/django-coockies.js" ></script>

		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shAutoloader.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shLegacy.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushPython.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJScript.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushXml.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushBash.js" ></script>
		
		<link href="{{ STATIC_URL }}js/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tagsinput/bootstrap-tagsinput.js" ></script>

		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.file-input.js"></script>
		<script src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
		
		<script>
			{% include 'main/base/google_analytics.js' %}
			{% include 'main/base/common-script.js' %}
		</script>
		
		{% block extra_js %}
		{% endblock %}
	</head>
	<body class="body">
		<div class="noise-wrapper">
			<div class="container-fluid">
				{% include 'main/menu.html' %}

				<div class="separator-shadow-bottom">
					<img alt="" src="{{ STATIC_URL }}/img/shadow-separator-wide-bottom.png">
				</div>
				<div class="container">
					<!-- <h2 style="color:#AAAAAA">{{ page_title }}</h2>				 -->
					{% block content %}
						
					{% endblock %}
				</div>

			</div>
			{% block synin %}
				<script>
						$('input[type=file]').bootstrapFileInput();
						
						$( "pre" ).each(function( index ) {
							if($(this).text().indexOf('<script>') != -1)
								$(this).addClass("brush: js");
							else if($(this).text().indexOf('def') != -1)
								$(this).addClass("brush: python");
							else if($(this).text().indexOf('</') != -1)
								$(this).addClass("brush: xml");
							else if($(this).text().indexOf('bash') != -1)
								$(this).addClass("brush: bash");
							else {
								$(this).addClass("brush: js");
							}
						});

						$('pre strong').replaceWith(function() {
							return $(this).html();
						});
						$('pre em').replaceWith(function() {
							return $(this).html();
						});
						$('pre code').replaceWith(function() {
							return $(this).html();
						});
					SyntaxHighlighter.config.tagName = "pre";
					SyntaxHighlighter.all()
				</script>
			{% endblock %}
	</body>
</html>