{% extends 'main/base.html' %}

{% load static %}

{% block content %}
	<div class="row">
		<div class="span9">
			<div class="row-fluid">
				<div class="span12">
					{% block mainbox %}
						<h1>Welcome to our blog!</h1>
						
						<h3>Source code</h3>
						<h5>This blog is still in development (infinite development). Its source code can be found <a href="https://github.com/AnaPana/it-recipes">here</a>.</h5>
						<h3>Feedback</h3>
						<h5>We appreciate any feedback, comments, solutions etc. If you want to participate in articles writing, contact us <a href="{% url 'about' %}">here</a>.</h5>
						<a href="{% url 'main' 'recent' 0 %}"><h3>Enjoy!</h3>
						<img src="{% static "/img/zwho4k.gif" %}"/>
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="span3">
			{% block rightbox %}
				{% include 'main/rightbox.html' %}
			{% endblock %}
		</div>
	</div>
{% endblock %}