<form method="POST" class="form-horizontal">{% csrf_token %}
	<div style="color:red"><span id="non_field_errors" >{{ form.non_field_errors }}</span></div>

	{% for field in form.visible_fields %}
	<div class="control-group {% if field.errors %}error{% endif %}">
		 <label class="control-label">{{ field.label }}</label>
		<div class="controls">
			{{ field }}
			<span class="help-inline">{{ field.errors }}</span>
		</div>
	</div>
	{% endfor %}
	
	{% for field in form.hidden_fields %}
		{{ field }}
	{% endfor %}
	
	<div class="control-group">
    	<div class="controls">
			<input type='submit' class="btn btn-success" value = "Login"/>
			<a href="{% url 'home' %}" class="btn">Back</a>
		</div>
	</div>
</form>
