{% extends 'main/base.html' %}

{% load static %}

{% block content %}
	<div class="row">
		<div class="span2">
			<div class="circular"><img src="{% static "img/avatars/ochirkov.jpg" %}" alt="" /></div>
		</div>
		<div class="span10">
			<h3>Oleksandr Chirkov</h3>
			<img class="logo" src="{% static "img/logos/linkedin.png" %}"/><b>&nbsp;LinkedIn: </b><a href="http://www.linkedin.com/pub/oleksandr-chirkov/5a/87/80b/" %}">http://www.linkedin.com/pub/oleksandr-chirkov/5a/87/80b/</a><br/>
			<img class="logo" src="{% static "img/logos/vk.png" %}"/><b>&nbsp;VK: </b><a href="http://vk.com/id90745379">http://vk.com/id90745379</a><br/>
			<img class="logo" src="{% static "img/logos/skype.png" %}"/><b>&nbsp;Skype: </b>loriin14<br/>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<hr align="center" size="2" color="#ff0000" />
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<div class="circular"><img src="{% static "img/avatars/AnaPana.jpg" %}" alt="" /></div>
		</div>
		<div class="span10">
			<h3>Anastasia Panchenko</h3>
				Hello everyone! Wellcome to our blog.<br/>
				I am very interested in Python language and also in web development, especially on Django.<br/>
				Here I store some things I faced with.<br/>
				If you have any suggestions, you can leave a comment or contact me by following links:<br/><br/>
				<img class="logo" src="{% static "img/logos/linkedin.png" %}"/><b>&nbsp;LinkedIn: </b><a href="http://www.linkedin.com/pub/anastasia-panchenko/30/894/234/">http://www.linkedin.com/pub/anastasia-panchenko/30/894/234</a><br/>
				<img class="logo" src="{% static "img/logos/fb.png" %}"/><b>&nbsp;Facebook: </b><a href="https://www.facebook.com/ana.pana.31">https://www.facebook.com/ana.pana.31</a><br/>
				<img class="logo" src="{% static "img/logos/skype.png" %}"/><b>&nbsp;Skype: </b>nastyarpd<br/>
				<img class="logo" src="{% static "img/logos/google.png" %}"/><b>&nbsp;Gmail: </b>ana.pana.2701 [at] gmail [dot] com<br/>
		</div>
	</div>
{% endblock %}
