body, html {
  height: 100%;
}

html *
{
   font-size: 13px; !important;
}

h3 {
	font-size: 20px !important;
}

.body {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.428571429;
	color: #597b99;
}

.noise-wrapper {
	/*background-image: url(/static/img/background.jpg);*/
	background-repeat: repeat;
	background-position: top center;
	min-height: 100%;
}

.separator-shadow-bottom, .separator-shadow-top {
	display: block;
	width: 100%;
}

.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}

.header-main .navbar {
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse {
	padding-top: 20px;
	width: auto;
	border-top: 0;
	box-shadow: none;
}

.nav {
	margin-top: 5px !important;
}

.navbar-right {
	float: right !important;
}

.navbar {
	position: relative;
	z-index: 1000;
	min-height: 50px;
	margin-bottom: 22px;
	border: 1px solid transparent;
}

.navbar .nav>li>a {
	font-family: Verdana;
	font-size: 17px !important;
}

.container {
	max-width: 1170px;
}

.control-group.error .help-inline {
	font-size: 12px;
}

.errorlist li {
    display: block;
}

.help-inline {
	width: 200px;;
}

ul.errorlist {
	padding: 0;
	margin: 0;
}

.row-btn {
	margin-top: 4px;
}

.row-form {
	margin: 0;
	height: 30px;
}

.row-form input[type="text"] {
	float: left !important;
	margin: 0;
}

td .row-form{
	padding: 0;
}

td:first-child {
	vertical-align:middle !important;
}

.article-div
{
	overflow: auto;
	color: black;
	position: relative;
	padding: 50px;
	margin: 15px 0 15px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

a.article-title {
	text-decoration: none !important;
	font-size: 18px;
}

span.article-title {
	font-size: 18px;
}

/*Widget*/
.wgt-block {
	background: #ffffff;
	border: 1px solid #CDCDCD;
	position: relative;
}

.bubble {
	padding: 3px;
	background: #E9E4E4;
	/*background: #eee;*/
	border-radius: 3px;
}

.discussion-bubble-content {
	margin-left: 60px;
	position: relative;
	font-size: 12px;
}

.discussion-bubble {
	margin: 20px 0;
}

.discussion-bubble .discussion-bubble-avatar {
	position: relative;
	float: left;
	border-radius: 3px;
}

.discussion-bubble .discussion-bubble-content:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border: 10px solid #E9E4E4;
	/*border: 10px solid #EEE;*/
	border-width: 10px 10px 10px 0;
	/*border-color: rgba(238,238,238,0) #eee rgba(238,238,238,0) rgba(238,238,238,0);*/
	border-color: rgba(238,238,238,0) #E9E4E4 rgba(238,238,238,0) rgba(238,238,238,0);
	position: absolute;
	left: -10px;
	top: 15px;
}

.comment-answer {
	margin-left: 80px;
}

.wgt-body {
	padding: 19px;
	position: relative;
}
.wgt-header {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 35px;
}
.wgt-header .login {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    line-height: 14px;
    margin: 0;
}

.wgt-header .wgt-buttons {
	float: right;
	margin: 8px 10px 0 0;
}

.wgt-footer {
	position: relative;
	background-color: #E9E4E4;
	height: 30px; 
}

.wgt-footer .wgt-buttons {
	float: right;
	margin: 5px;
}

.control-group.error .help {
	font-size: 12px;
	color: #b94a48;
}

button.close {
	margin: 5px;
}

ul.contacts {
	padding: 0;
}

ul.contacts li {
	padding: 3px 15px;
	margin-right: -15px;
	margin-left: -15px;
	display: block;
	line-height: 50px;
}

ul.contacts li img{
	margin-bottom: 3px;
	width: 20px;
}

ul.articles-list>li>a {
	padding: 2px;
	margin: 2px 0px 2px 20px;
}


div.subjects-list {
	font-size: 15px;
	margin-left: 10px;
}

div.subjects-list a {
	text-decoration: none;
}

div.subjects-list a.bold {
	font-weight: bold;
}

div.article-items {
	margin-top: 20px;
}

a.article-items-title {
	cursor: pointer;
	font-size: 14px;
	text-decoration:none !important;
}

a.task-item-title {
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 5px;
	text-decoration:none !important;
	display: block;
}

.syntaxhighlighter { 
	padding: 1px;
	background-color: #fff !important;
	border: 1px solid #E0E0E0 !important;
}

.syntaxhighlighter div{
	background:repeat !important;
	background-color: black !important;
}

.tag {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
	text-decoration: none !important;
}

.label.tag-item {
	margin-top: 10px;
}
ul.nav {
	padding: 0px;
}

.favorite{
	cursor: pointer;
	color: #A1A1AC;
	text-decoration: none !important;
}

.favorite a{
	cursor: pointer;
	color: #A1A1AC;
	text-decoration: none !important;
}

.circular img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	}
img.logo {
	margin: 5px;
	width: 20px;
}

.grey-box {
	padding: 7px 7px 0px 15px;
	margin: 15px 0 25px 0;
	color: inherit;
	background-color: #eeeeee;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.articles-navigation {
	margin: 20px 0 0 0;
}

div.articles-navigation a {
	text-decoration: none;
	font-weight: bold;
}

.btn-refresh {
	margin-bottom : 10px !important;
}

span.highlight {
	background-color: #FFFF00 !important;
	font-size: inherit;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #597b99;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid #597b99;
}

.comment-div p {
	display: inline;
}
