{% load extra_tags %}
<div class="row-fluid">
	<div class="span12">
		<a class="article-title" href="{% url tasks 'subjects' task.subject.name %}">{{ task.subject.name }} > </a>
		<a href="{% url task task.id %}" class="article-title">
			{{ task.name }}
		</a><br/>
		<span class="muted">{{ task.votes }} vote{{ task.votes|pluralize }}, {{ task.solutions|length }} solution{{ task.solutions|length|pluralize }}</span>
		<div class="row-fluid">
			<div class="span12">
				{{ task.body|striptags|safe }}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				{% for tag in task.tags.all %}
					<a href="{% url tasks 'tags' tag %}"><div class="label label-info tag-item">{{ tag }}</div></a>
				{% endfor %}<br/>
				<span class="muted">
					<i>{% with task.date|today as today %}
							{{ task.date|timesince:today }} ago
						{% endwith %}<br/>
						Author :
						{% if task.author == user %}
							me
						{% else %}
							{{ task.author.username }}
						{% endif %}
					</i>
				</span>
			</div>
		</div>
	</div>
</div>